body {
    background-color: black;
    color: lightgray;
    font-family: monospace;
    font-size: 14px;
    overflow: hidden;
}
  
#terminal-container {
    background-color: black;
    color: lightgray;
    font-family: monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
#terminal-output {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    flex-grow: 1;

    white-space: pre-wrap;
    word-wrap: break-word;
    hyphens: auto;
}    
  

#terminal-output::-webkit-scrollbar {
    display: none;
}

#terminal-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
  
#terminal-user {
    order: 1;
    margin-right: 0.5rem;
    color: #4CAF50;
}
  
#terminal-dir {
    order: 2;
    color: rgb(76, 76, 252);
}
  
#terminal-dollar {
    color: gray;
  }

#terminal-input-field {
    order: 3;
    flex-grow: 1;
    border: none;
    background: transparent;
    color: inherit;
    outline: none;
    font-family: monospace;
    font-size: 1rem;
}

.terminal-line {
    display: flex;
    align-items: center;
    word-wrap: break-word;
    hyphens: auto;
    padding: 5px 0;
}
  
.terminal-line-output {
    color: lightgray;
    word-wrap: break-word;
    hyphens: auto;
    white-space: pre-wrap;
}
  
.terminal-input-new #terminal-user-new {

    color: #4CAF50;
}
  
.terminal-input-new #terminal-dir-new {

    color: rgb(76, 76, 252);
}
  
.terminal-input-new #terminal-dollar-new {
    margin-right: 0.5rem;
    color: gray;
}

.terminal-line-user {

    color: #4CAF50;
  }
  
.terminal-line-directory {

    color: rgb(76, 76, 252);
}
  
.terminal-line-dollar {
    margin-right: 0.5rem;
    color: grey;
}
  

@keyframes terminal-blink {
    0% {
      opacity: 1;
}
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  
#terminal-container:not(:focus-within) #terminal-input::before {
    content: "";
    width: 6px;
    height: 12px;
    background-color: lightgray;
    display: inline-block;
    margin-right: 5px;
    animation: terminal-blink 1s infinite;

} 


  
  