body {
  font-family: Arial, sans-serif;
  background-color: #000;
}

header {
  background-color: #454ADE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

section {
  width: 30%;
  background-color: #1B1F3B;
  color: white;
  padding: 20px;
  margin: 20px;
  transition: background-color 0.2s;
  border-radius: 10px;
}

section:hover {
  background-color: #3D0734;
  transition: 0.8s;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project img {
  width: 80%;
  margin-bottom: 20px;
  transition: transform 0.2s;
}

.project img:hover {
  transform: scale(1.1);
}
.social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #454ADE;

}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #E1BBC9;
  color: white;
  font-size: 24px;
  transition: background-color 0.2s;
}

.social-link:hover {
  background-color: #3D0734;
  transform: scale(1.1);
  transition: 0.3s;
}

.discord {
  background-color: #7289DA;
}

.twitter {
  background-color: #1DA1F2;
}

.github {
  background-color: #24292E;
}

.fa-discord,
.fa-twitter,
.fa-github {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

footer {
  position: fixed;
  background-color: #454ADE;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  bottom: 0;
  left: 0;
}
